{% load static %}
 <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link rel="stylesheet" href="{% static 'aplus_app/css/ananse.css' %}">
     <link rel="stylesheet" href="{% static 'aplus_app/css/main.css' %}">
     <link rel="stylesheet" href="{% static 'aplus_app/css/dropdown.css' %}">
     <link rel="stylesheet" href="{% static 'aplus_app/css/page.css' %}">
     <link rel="stylesheet" href="{% static 'aplus_app/css/form.css' %}">
     <link rel="stylesheet" href="{% static 'aplus_app/fa/allicons.css' %}">
    <link rel="stylesheet" href="{% static 'aplus_app/CSS/fa/icons.css' %}">
    <title>{{ title }}</title>
</head>
