<!DOCTYPE html>
<html lang="en">
{% load head_tag %}

{% html_head_tag title="A+|Staff Home" %}
<body style="padding:20px">
<h1>
  Sign Up
</h1><br>
<form method="post" action="{% url 'student_signup' %}">
    {% csrf_token %}
    <input type="text" name="id" placeholder="Student ID"><br><br>
    <input type="text" name="full_name" placeholder="Full Name"><br><br>
    <select name="group_id">
        <option>Your Group</option>
        {% for group in groups%}
            <option value="{{group.id}}">{{group.name}}</option>
        {% endfor %}
    </select><br><br>
    <input type="text" name="level" placeholder="Current Level"><br><br>
    <input type="text" name="password" placeholder="Password"><br><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>